section.slide#c9-title
    img.vcenter(src='/img/c9/logo.png')

section.slide#c9-setup
    img.vcenter(src='/img/c9/001.png')

section.slide#c9-start
    img.vcenter(src='/img/c9/002.png')

section.slide#c9-command-line
    img.vcenter(src='/img/c9/003.png')

section.slide#c9-editor
    img.vcenter(src='/img/c9/004.png')

section.slide#c9-git
    img.vcenter(src='/img/c9/005.png')

section.slide#c9-git-commit
    img.vcenter(src='/img/c9/006.png')

section.slide#c9-package
    img.vcenter(src='/img/c9/007.png')

section.slide#c9-npm
    img.vcenter(src='/img/c9/008.png')

section.slide#c9-jade
    img.vcenter(src='/img/c9/009.png')

section.slide#c9-node
    img.vcenter(src='/img/c9/010.png')

section.slide#c9-run
    img.vcenter(src='/img/c9/011.png')

section.slide#c9-done
    img.vcenter(src='/img/c9/012.png')