section.slide#github-title
    img.vcenter(src='/img/github/logo.png')

section.slide#github-new
    img.vcenter(src='/img/github/001.png')

section.slide#github-c9
    img.vcenter(src='/img/github/002.png')

section.slide#github-push
    img.vcenter(src='/img/github/003.png')

section.slide#github-done
    img.vcenter(src='/img/github/004.png')