section.slide#heroku-title
    img.vcenter(src='/img/heroku/logo.png')

section.slide#heroku-deployment-configs
    img.vcenter(src='/img/heroku/001.png')

section.slide#heroku-new
    img.vcenter(src='/img/heroku/002.png')

section.slide#heroku-deploy
    img.vcenter(src='/img/heroku/003.png')

section.slide#heroku-profile
    img.vcenter(src='/img/heroku/004.png')

section.slide#heroku-profile-fail
    img.vcenter(src='/img/heroku/005.png')

section.slide#heroku-profile-definition
    img.vcenter(src='/img/heroku/006.png')

section.slide#heroku-done
    img.vcenter(src='/img/heroku/007.png')