section.slide#travis-ci-title
    img.vcenter(src='/img/travis-ci/logo.png')
    h2.slide Travis-CI

seciton.slide#travis-ci-refactor-1
    img.vcenter(src='/img/travis-ci/001.png')

section.slide#travis-ci-refactor-2
    img.vcenter(src='/img/travis-ci/002.png')

section.slide#travis-ci-package
    img.vcenter(src='/img/travis-ci/003.png')
    //
        ul.vcenter
            li
                a(href='http://pivotal.github.com/jasmine/', title='Jasmine BDD') Jasmine BDD
            li
                a(href='http://search.npmjs.org/#/jasmine-node', title='Jasmine-Node') Jasmine-Node (NodeJS port)

section.slide#travis-ci-test-runner
    img.vcenter(src='/img/travis-ci/004.png')

section.slide#travis-ci-run
    img.vcenter(src='/img/travis-ci/005.png')

section.slide#travis-ci-solution
    img.vcenter(src='/img/travis-ci/006.png')

section.slide#travis-ci-tests
    img.vcenter(src='/img/travis-ci/007.png')

section.slide#travis-ci-tests-run
    img.vcenter(src='/img/travis-ci/008.png')

section.slide#travis-ci-overview
    img.vcenter(src='/img/travis-ci/009.png')

section.slide#travis-ci-githook
    img.vcenter(src='/img/travis-ci/010.png')

section.slide#travis-ci-build-fail
    img.vcenter(src='/img/travis-ci/011.png')

section.slide#travis-ci-build-fail-email
    img.vcenter(src='/img/travis-ci/012.png')

section.slide#travis-ci-build-success
    img.vcenter(src='/img/travis-ci/013.png')

section.slide#travis-ci-build-success-details
    img.vcenter(src='/img/travis-ci/014.png')

section.slide#travis-ci-build-success-email
    img.vcenter(src='/img/travis-ci/015.png')