section.slide#title
    img.vcenter(src='/img/title.jpg')

!= partial('c9')
!= partial('github')
!= partial('travis-ci')
!= partial('heroku')

section.slide#thank-you
    h2 Thank You!
    ul
        li
            a(href='http://c9.io', title='Cloud9IDE', target='_blank') Cloude9IDE
        li
            a(href='http://github.com', title='github', target='_blank') Github
        li
            a(href='http://travis-ci.org', title='Travis-CI', target='_blank') Travis-CI
        li
            a(href='http://heroku.com', title='Heroku', target='_blank') Heroku
        li
            a(href='http://apowell.me', title='Me', target='_blank') Me -> http://apowell.me
        li
            a(href='https://github.com/aaronpowell/wdyk', title='Slides source', target='_blank') Source -> https://github.com/aaronpowell/wdyk
        li
            a(href='http://wdyk-2012.aaron-powell.com', title='Slides live', target='_blank') Slides -> http://wdyk-2012.aaron-powell.com