!!! 5
html
    head
        meta(charset='utf-8')
        meta(name='description', content='A presentation on doing everything through hosted services')
        meta(name='author', content='Aaron Powell')
        meta(name='viewport', content='width=1024, user-scalable=no')

        title Hosted ALL The Things!
        meta(name='viewport', content='width=1024, user-scalable=no')
        link(rel='stylesheet', href='/css/deck.core.css', type='text/css')
        link(rel='stylesheet', href='/css/deck.hash.css', type='text/css')
        link(rel='stylesheet', href='/css/deck.scale.css', type='text/css')
        link(rel='stylesheet', href='/css/deck.goto.css', type='text/css')
        link(rel='stylesheet', href='/css/neon.css', type='text/css')
        link(rel='stylesheet', href='/css/horizontal-slide.css', type='text/css')
        script(src='/js/modernizr.custom.js')
    body.deck-container
        != body
    
        a.deck-permalink(href='.', title='Permalink to this slide') #

        form.goto-form(action='.', method='get')
            label(for='goto-slide') Go to slide:
              input#goto-slide(type='text', name='slidenum', list='goto-datalist')
              datalist#goto-datalist
              input(type='submit', value='Go')

    
        script(src='/js/jquery-1.7.1.js')
        script(src='/js/deck.core.js')
        script(src='/js/deck.hash.js')
        script(src='/js/deck.scale.js')
        script(src='/js/deck.goto.js')
        script(src='/js/site.js')
